# mrpack-install

[![downloads](https://img.shields.io/github/downloads/nothub/mrpack-install/total.svg?style=flat-square&labelColor=5c5c5c&color=007D9C)](https://github.com/nothub/mrpack-install/releases/latest)
[![discord](https://img.shields.io/discord/1149744662131777546?style=flat-square&labelColor=5c5c5c&color=007D9C)](https://discord.gg/QNbTeGHBRm)
[![go pkg](https://pkg.go.dev/badge/github.com/nothub/mrpack-install.svg)](https://pkg.go.dev/github.com/nothub/mrpack-install)

A cli application for installing Minecraft servers
and [Modrinth](https://modrinth.com/) [modpacks](https://docs.modrinth.com/docs/modpacks/format_definition/).

---

## Commands
{{ range . }}
### {{ .Name }}

```
{{ .Help }}
```
{{ end }}
## Build

To build only binaries, run:

```sh
goreleaser build --clean --snapshot
```

## Release

To build a local snapshot release, run:

```sh
goreleaser release --clean --snapshot
```

To build and publish a full release, push a semver tag (with 'v' prefix) to the 'main' branch on GitHub.
