# mrpack-install

[![downloads](https://img.shields.io/github/downloads/nothub/mrpack-install/total.svg?style=flat-square&labelColor=5c5c5c&color=007D9C)](https://github.com/nothub/mrpack-install/releases/latest)
[![discord](https://img.shields.io/discord/1149744662131777546?style=flat-square&labelColor=5c5c5c&color=007D9C)](https://discord.gg/QNbTeGHBRm)
[![go pkg](https://pkg.go.dev/badge/github.com/nothub/mrpack-install.svg)](https://pkg.go.dev/github.com/nothub/mrpack-install)

A cli application for installing Minecraft servers and [Modrinth](https://modrinth.com/) [modpacks](https://support.modrinth.com/en/articles/8802351-modrinth-modpack-format-mrpack).

---

## Commands
{{ range .Entries }}
### {{ .Name }}

```
{{ .Help }}
```
{{ end }}
## Build

To build an executable, run:

```sh
goreleaser build --clean --snapshot --single-target
```

## Release

To build a local snapshot release, run:

```sh
goreleaser release --clean --snapshot
```

To build and publish a full release, push a semver tag (with 'v' prefix) to any branch.

## Contributors

Some people contributed to this project. Thank you! 😊

<table>
  <tbody>
    <tr>
{{- range .Contribs }}
      <td align="center">
        <a href="https://github.com/nothub/mrpack-install/commits?author={{ .Login }}">
          <img src="{{ .AvatarUrl }}" width="32px;" alt="{{ .Name }}"/>
          <br><sub><b>{{ .Name }}</b></sub>
        </a>
      </td>
{{- end -}}
    </tr>
  </tbody>
</table>
